<!DOCTYPE html>
    {% load static i18n %}
    {% load static %}
    {% load bg_tag_frm %}

    <head>
        <!-- Font Awesome -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        rel="stylesheet"
        />
        <!-- Google Fonts -->
        <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        rel="stylesheet"
        />
        <!-- MDB -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
        rel="stylesheet"
        />
        <title>{% block title %}{% endblock %}</title>
        {% block head_css %}{% endblock %}
        
    </head>

    <body>
        <!-- MDB -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
        {% get_bg as bg %}
        {% if bg %}
        <style>
            body {
            background-image: url("/media/{{ bg|random }}");
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }
          </style>
        {% endif %}
        <nav style="height: 10ch;" class="container-fluid position-relative navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.profile.avatar %}
                <a class="position-absolute top-50 start-50 translate-middle" href="{% url 'profile_view' user.profile.slug %}">
                    <img style="width: 10ch; height: 10ch;" src="/media/{{ user.profile.avatar }}" class="rounded-circle z-depth-0" alt="avatar image">
                </a>
            {% else %}
                <img style="width: 10ch; height: 10ch;" src="/media/Centropolis.jpg" class="position-absolute top-50 start-50 translate-middle rounded-circle z-depth-0" alt="avatar image">
            {% endif %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"></li>
                        <a style="font-size: 3ch;" class="nav-link active" aria-current="page" href="{% url 'forum_main' 1 %}">{% trans 'Форум' %}</a>
                        {% block navbar %}{% endblock navbar%}
                    </li>
                </ul>
                <ul class="navbar-nav my-sm-0">
                    {% if user.username %}
                    <a style="font-size: 2ch;" class="nav-link h6" href="{% url 'logout' %}">{% trans 'Выход' %}</a>
                    {% else %}
                    <a style="font-size: 2ch;" class="nav-link h6" href="{% url 'registr' %}">{% trans 'Регистрация' %}</a>
                    <a style="font-size: 2ch;" class="nav-link h6" href="{% url 'login' %}">{% trans 'Войти' %}</a>
                    {% endif %}
                  </ul>
            </div>
        </nav>
        {% block content_in_root_body %}{% endblock %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-auto">
                    {% block menu %}{% endblock menu %}
                </div>
                <div class="col-8">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% block js %}{% endblock js %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>