{% extends 'main/base.html' %}
{% load static i18n %}
{% block title %}
{% trans 'Начать топик' %}
{% endblock %}

{% block content_in_root_body %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container text-light">
    <h1 class="mt-4">{% trans 'Начать топик' %}</h1>
    <div class="row">
      <div class="col-md-auto">
          {{ form.media }}
          <h3>{% trans 'Заголовок' %}</h3>
          {{ form.title }}
          {{ form.description }}

        <div><p>{{ form.pictures }}</p></div>
      </div>
      <button type="submit" class="btn btn-primary mt-4">{% trans 'Обновить' %}</button>
      <span>{{ error }}</span>
    </div>
  </div>

</form>
{% endblock %}