{% extends 'main/base.html' %}
{% load static i18n %}
{% block title %}
{% trans 'Панель редактирования' %}
{% endblock %}

{% block content_in_root_body %}
<div class="container mt-3">
  <div class="row card-body" style="background-color: #f2f1f8d0;">
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'topic_create' %}">{% trans 'Создать топик' %}</a>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">{% trans 'Заголовок' %}</th>
            <th scope="col">{% trans 'Дата' %}</th>
            <th scope="col">{% trans 'Автор' %}</th>
            <th scope="col">{% trans 'Видно' %}</th>
            <th scope="col">######</th>
            <th scope="col">######</th>
          </tr>
        </thead>
        <tbody>
        {% for i in list_topic %}
          <tr>
            <th>{{ i.id }}</th>
            <td>{{ i.title }}</td>
            <td>{{ i.created_on }}</td>
            <td>{{ i.author }}</td>
            {% if i.visible == False %}
            <td>{% trans 'Не опубликовано' %}</td>
            {% else %}
            <td>{% trans 'Опубликовано' %}</td>
            {% endif %}
            <td>
              <a href="{% url 'topic_edit' i.id %}" class="btn btn-outline-success btn-sm" role="button">{% trans 'Редактировать' %}</a><td>
              <form id="delete_form" action="{% url 'topic_delete' i.id %}" method="POST">
                {% csrf_token %}
                <button onclick="return proverka()" type="submit" class="btn btn-outline-danger btn-sm">{% trans 'Удалить' %}</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
</div>

<script>
  function proverka() {
  //Do you want this for sure?
if (confirm("{% trans 'Ты точно этого хочешь?' %}")) {
    return true;
    } else {
        return false;
    }
}
</script>

{% endblock %}