{% extends 'main/base.html' %}
{% load static i18n %}
{% block title %}
{% trans 'Редактировать топик' %}
{% endblock %}


{% block content_in_root_body %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
          <h1 class="mt-4">{% trans 'Редактировать топик' %}</h1>
          <div style="background-color: rgba(0, 0, 0, 0.527);" class="row">
            <div class="col-md-auto">
                {{ form.media }}
                <h3>Заголовок</h3>
                {{ form.title }}
                {{ form.description }}
                <hr>
                <p>Видимость: {{ form.visible }}</p>
                <p>{{ form.pictures }}</p>
            </div>
            <button type="submit" class="btn btn-primary mt-4">{% trans 'Обновить' %}</button>
            <span>{{ error }}</span>
          </div>
        </div>

    </form>
{% endblock %}