{% extends 'main/base.html' %}
{% load static i18n %}

{% block title %}
{% trans 'Форум' %}
{% endblock %}

{% block navbar %}
{% endblock navbar%}

{% block content_in_root_body %}
    <div class="container">
        <style>
            a { 
            text-decoration: none; /* Отменяем подчеркивание у ссылки */
            color: rgb(0, 238, 255);
            }
            a:hover {
            color: rgb(167, 34, 185);
            }
        </style>
        <div class="mt-2 text-light col-md-auto">
            <div style="background-color: #302e3d80;" class="container-fluid">
                {% if venues.paginator.num_pages > 1 %}
                <p class="text-center">
                  {% if venues.has_previous %}
                    <a href="?page=1">&laquo {% trans 'Первая' %}</a>
                    <a href="?page={{ venues.previous_page_number }}">{% trans 'Предыдущая' %}</a>
                  {% endif %}
                  Page {{ venues.number }} of {{ venues.paginator.num_pages }}
                  {% if venues.has_next %}
                    <a href="?page={{ venues.next_page_number }}">{% trans 'Следующая' %}</a>
                    <a href="?page={{ venues.paginator.num_pages }}">{% trans 'Последняя' %} &raquo</a>
                  {% endif %}
                </p>
                {% endif %}
            </div>
            <div class="row">
                {% block sidebar %} {% include 'forum/sidebar.html' %} {% endblock sidebar %}
            </div>
            {% for topic in topic_list %}
    
            <div class="card mb-4" style="background-color: #302e3dc9;">
                <div class="row card-body text-light">
                    <!--<a href="{% url 'forum_topic' topic.id %}"><h5 class="card-title">{{ topic.title }}</h5></a>-->
                  <div class="col-md-auto col-xs-6 col-sm-3">
                    {% if topic.pictures %}
                        <img src="/media/{{ topic.pictures }}" class="img-fluid rounded" width="150" height="150">
                    {% endif %}
                    <p>Ранг: {{ topic.rang }}</p>
                  </div>
                  <div class="col-xs-6 col-sm-9">
                    <h2 class="card-title">{{ topic.title }}</h2>
                    <a class="card-text text-muted" href="{% url 'profile_view' topic.author.profile.slug %}">{{ topic.author.profile.user }} | {{ topic.created_on }}</a>
                    <p class="card-text">{{ topic.description|safe|slice:":400" }}</p>
                    <a href="{% url 'forum_topic' topic.id %}" class="btn btn-secondary">{% trans 'Читать дальше' %} | {{ topic.title }}</a>
                  </div>
                </div>
              </div>
            {% endfor %}
    
        </div>
    
    </div>
{% endblock content_in_root_body %}

{% block js %}{% endblock js %}