{% block sidebar %}
{% load static i18n %}
    <form action="{% url 'search_topik' %}" method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="{% trans 'Что ищем?' %}" name="q" aria-describedby="button-addon">
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary" type="button" id="button-addon">Search</button>
            </div>
        </div>
    </form>
{% endblock sidebar %}