{% extends 'main/base.html' %}
{% load static i18n %}
{# load get_post_tree #}

{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static '/css/like.css' %}" type="text/css">
{% endblock %}

{% block title %}
{% trans 'Топик' %}
{% endblock %}

{% block content_in_root_body %}
<style>
    a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: rgb(0, 238, 255);
    }
    a:hover {
    color: rgb(167, 34, 185);
    }
</style>
<div class="container">
    <div style="background-color: #302e3dc9;" class="text-light rounded card mt-2">
        <div class="row card-body">
            <div class="col">
                {% if topic.pictures %}
                    <img style="float: left; padding-right: 1%; padding-bottom: 1%;" src="/media/{{ topic.pictures }}" class="img-fluid rounded" width="300">
                {% endif %}
                {{ topic.description|safe }}
            </div>
            {% if topic.post_set %}
            <hr>
            <div class="row">
                <div class="col-md-auto text-center d-flex justify-content-center align-items-center">
                    <p style="margin: 0%;" class="text-center">
                        {% trans 'Сообщений' %} ({{ topic.post_set.all.count }})
                    </p>
                </div>
                <div class="col">
                    <button onclick="cls()" type="button" class="btn btn-outline-info btn-rounded" data-toggle="modal" data-target="#modal">{% trans 'Написать' %}</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div style="background-color: #302e3d80;" class="container-fluid text-light">
        {% if venues.paginator.num_pages > 1 %}
            <p class="text-center">
                {% if venues.has_previous %}
                <a href="?page=1">&laquo {% trans 'Первая' %}</a>
                <a href="?page={{ venues.previous_page_number }}">{% trans 'Предыдущая' %}</a>
                {% endif %}
                Page {{ venues.number }} of {{ venues.paginator.num_pages }}
                {% if venues.has_next %}
                <a href="?page={{ venues.next_page_number }}">{% trans 'Следующая' %}</a>
                <a href="?page={{ venues.paginator.num_pages }}">{% trans 'Последняя' %} &raquo</a>
                {% endif %}
            </p>
            {% endif %}
    </div>
    <div style="background-color: #302e3d80;" class="container-fluid">
        {% if topic.post_set %}
            <ul style="list-style-type:none;">
                {% for top in venues %}
                    <li class="text-light">
                        <a name="{{ top.id }}" ></a>
                        <div style="background-color: #302e3dc9;" class="card-body row mt-3 rounded card text-light">
                            <div class="row">
                                <div style="padding: 0%;" class="col-md-auto">
                                    <a href="{% url 'profile_view' top.author.profile.slug %}"><img src="/media/{{ top.author.profile.avatar }}" class="img-fluid rounded" width="100" height="100"></a>
                                </div>
                                <div class="col-md-auto">
                                    <p class="text-muted" style="margin-bottom: 0ch;">{{ top.created_on }}</p>
                                    <a href="{% url 'profile_view' top.author.profile.slug %}"><p style="color: aliceblue; margin-bottom: 0ch;">{{ top.author }}</p></a>
                                    <p style="margin-bottom: 0ch;">rang: {{ top.author.profile.rang }}</p>
                                </div>
                                <div class="col-md-auto">
                                    {% if top.is_child %}
                                        <ul class="list-group">
                                            <a class="mt-2" style="color: aliceblue; margin-bottom: 0ch" href="#{{ top.parent.id }}">
                                                <li style="background-color: #302e3d80;" class="list-group-item rounded text-light text-muted">
                                                    <p>{{ top.parent.body|safe }}</p>
                                                </li>
                                            </a>
                                        </ul>
                                    {% endif %}
                                    <p style="margin-bottom: 0ch;" class="card-text mt-2">{{ top.body|safe }}</p>
                                </div>
                            </div>
                            <div style="padding: 0ch;" class="card-footer">
                                <div class="row">
                                    <div class="col" id="div_{post_id}">
                                        <form action="{% url 'like_post' top.author.id %}" method="POST">
                                            {% csrf_token %}
                                            <label>
                                                <input type="submit" name="forumpost_id_like" value="{{ top.id }}">
                                                <svg viewbox=0,0,500,500 width="50px" height="50px">
                                                <circle class="circle" cx="250" cy="250" r="210" fill="#fff" stroke="#000" stroke-width="8"/>
                                                <text x="250" y="250">🔥</text>
                                                </svg>
                                                {{ top.like.count }}
                                                </label>
                                            </form>
                                            <form action="{% url 'like_post' top.author.id %}" method="POST">
                                            {% csrf_token %}
                                                <label>
                                                <input type="submit" name="forumpost_id_dislike" value="{{ top.id }}">
                                                <svg viewbox=0,0,500,500 width="50px" height="50px">
                                                    <circle class="circle" cx="250" cy="250" r="210" fill="#fff" stroke="#000" stroke-width="8"/>
                                                    <text x="250" y="250">👺</text>
                                                </svg>
                                                {{ top.dislike.count }}
                                                </label>
                                            </form>
                                        like: {{ top.like.count }}
                                        dislike: {{ top.dislike.count }}
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <button onclick="Answer('{{ top.id }}')" type="button" class="r_e_p_l_y btn btn-outline-info btn-rounded" data-toggle="modal" data-target="#modal">
                                            Reply
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>


    <!-- Modal -->
<div class="modal fade" id="modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background-color: #302e3dc9;">
        <div class="modal-header" style="border: 0ch; padding-bottom: 0%;">
          <h5 class="modal-title text-light" id="exampleModalLabel">{% trans 'Сообщение' %}</h5>
          <button type="button" class="close border border-success rounded btn btn-sm btn-secondary" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row">
          <div id="chat-messages" class="col text-light rounded">
            <div id="Comment" class="row mt-3">
                <form method="POST" enctype="multipart/form-data">
                <input type="hidden" name="parent" id="parent_id" value="">
                {% csrf_token %}
                {{ form.media }}
                {{ form.body }}
            </div>
          </div>
        </div>
        <div class="modal-footer" style="border: 0ch;">
            <button id="send-comment" type="submit" class="btn btn-primary btn-lg btn-sm btn-block">{% trans 'Оставить' %}</button>
        </form>
        </div>
      </div>
    </div>
  </div>

<script>
    const r_e_p_l_y = document.querySelectorAll(".r_e_p_l_y");
    for (let i=0, length = r_e_p_l_y.length; i < length; i++) {
        r_e_p_l_y[i].innerText = "{% trans 'Ответить' %}";
    }
    function Answer(id) {
        document.getElementById("parent_id").value = id;
    }
    function cls() {
        document.getElementById("parent_id").value = "";
    }
</script>
{% endblock %}