.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    background-color: rgb(103, 168, 163);
}
.dropdown-menu {
    color: #ffffff;
    background-color: #302e3df5;
    border-color: rgb(103, 168, 163);
}