{% load static i18n %}
{% load static %}
{% load bg_tag %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <title>{% trans 'Главная' %}</title>
  <link rel="stylesheet" href="{% static '/css/scroll.css' %}" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  rel="stylesheet"
  />
  <!-- Google Fonts -->
  <link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
  />
  <!-- MDB -->
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
  rel="stylesheet"
  />
</head>

<body>
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  {% get_bg as bg %}
  {% if bg %}
  <style>
    body {
    background-image: url("/media/{{ bg|random }}");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  </style>
  {% endif %}
<style>
table, th, td {
    border-collapse: collapse;
}
td{
    border-top: none;
    border-bottom: none;
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
  } 

  li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
#qwe {
width:auto;
word-wrap: break-word;
}
#qwer {
height:auto;
word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
</style>
<script type="text/javascript" src="{% static '/js/getData.js' %}"></script>

<div id="qwer" class="card" style="background-color: #302e3dc9; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%;">
  <div style="position: relative;" class="anyClass card-body">
    {% if messages %}
      <form id="delete_form" method="POST">
        {% csrf_token %}
     </form>
     <button onclick="proverka()" id="btn_delete" style="position: fixed; top: 2.5ch; right: 2.5ch; background-color: #1100ff1c; color: rgb(255, 0, 0);" class="btn btn-sm">{% trans 'Очистить' %}</button>
    {% endif %}
    <table id="chat-messages" class="table table-sm">
      {% for m in messages %}
      <tr>
        <td style="padding: 0%;">
          <a href="{% url 'profile_view' m.username.profile.slug %}"><img src="/media/{{ m.username.profile.avatar }}" class="rounded-circle z-depth-0" alt="avatar image" height="30" width="30"></a>&emsp;
          <a style="font-size:14px" class="text-muted" href="{% url 'profile_view' m.username.profile.slug %}">{{ m.username }} | {{ m.date_added }}</a>
        </td>
    </tr>
    <tr>
        <td>
          <div id="qwe" class="text-light" style="font-size:14px">
            &emsp;{{ m.content|safe }}
          </div>
        </td>
    </tr>
      {% endfor %}
  </table>
  </div>
  {% if user.is_authenticated %}
  <li class="white">
    <div class="form-group basic-textarea">
      <textarea style="background-color: #302e3dc9; border-color: rgba(126, 136, 136, 0.651);" class="form-control pl-2 my-0 text-light" id="chat-message-input" rows="1" placeholder="{% trans 'Пишите ваше сообщение здесь...' %}"></textarea>
      <!--<span onclick="getEmj('😀');">😀</span>
      <span onclick="getEmj('😈');">😈</span>-->
    </div>
  </li>
  <br>
    <button type="button" id="chat-message-submit" class="btn btn-dark btn-sm btn-block text-light">{% trans 'Отправить' %}</button>
  {% endif %}
</div>


{{ room_name|json_script:"json-roomname" }}
{{ user.username|json_script:"json-username" }}
{# user.profile.avatar|json_script:"json-avatar" #}
{{ user.profile.slug|json_script:"json-slug" }}

<script type="text/javascript" src="{% static '/js/chat.js' %}"></script>
<script>
  function proverka() {
    if (confirm("{% trans 'Ты точно хочешь удалить все сообщения ?!!' %}") == true) {
        document.getElementById('delete_form').submit();
        }
}
</script>

<!--<div style="width: 200px; height: 200px; position: fixed; top: 100px; left: 1px; border: 1px solid black; background:red;"></div>-->
</body>

</html>
