{% extends  'main/base.html' %}
{% load static i18n %}
{% load get %}
{% load sizify %}


{% block title %}
{% trans 'Файлы' %}
{% endblock %}

{% block content_in_root_body %}
<div class="container">
  <div class="row card card-body rounded" style="background-color: #302e3dc9;">
    <form id= "upload_file" method="POST" class="user-update-form" enctype="multipart/form-data">
      <div class="row text-light">
        {% csrf_token %}
        {{ form }}
      <div class="row">
        <button form="upload_file" type="submit" class="btn btn-secondary mt-4">{% trans 'Загрузить файл' %}</button>
        <span>{{ error }}</span>
      </div>
    </form>
  </div>
  <div class="row card card-body rounded" style="background-color: #302e3dc9;">
    {% if files %}
    <table class="table table-striped text-light">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">{% trans 'Файл' %}</th>
          <th scope="col">{% trans 'Размер' %}</th>
          <th scope="col">{% trans 'Дата создания' %}</th>
          <th scope="col">######</th>
        </tr>
      </thead>
      <tbody>
        {% for i in files %}
          <tr class="text-light">
            <td>{{ i.id }}</td>
            <td><a href="{{ i.ffile.url }}">{{ i.ffile }}</a></td>
            <td>{{ i.ffile.size|sizify }}</td>
            <td>{{ i.created_on }}</td>
            <td>
              <form id="delete_file" action="{% url 'file_delete' i.id %}" method="POST">
                {% csrf_token %}
                <button form="delete_file" onclick="return proverka()" type="submit" class="btn btn-outline-danger btn-sm">{% trans 'Удалить' %}</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  </div>
</div>
<script>
  function proverka() {
  //Do you want this for sure?
if (confirm("{% trans 'Ты точно этого хочешь?' %}")) {
    return true;
    } else {
        return false;
    }
}
</script>
{% endblock content_in_root_body %}