{% extends  'main/base.html' %}
{% load static i18n %}
{% load get %}
{% block title %}
{% trans 'Профиль' %}
{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static '/js/chat_ls.js' %}"></script>
<style>
  a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: rgb(222, 204, 240);
  }
  a:hover {
    color: rgb(34, 185, 178);
  }
 </style>

<div style="margin-left: auto; margin-right: auto;" class="col-md-11 text-center mt-4">
  <div class="card-body rounded" style="background-color: #302e3dc9;">
  <div class="row">
    {% if fr %}
      {% if user_p == user %}
      <div style="padding: 0%;" class="col-md-3 border border-success rounded">
        <h5 class="text-light border border-success border-right-0 border-left-0 border-top-0 rounded">{% trans 'Запросы дружбы' %}</h5>
        {% for i in fr %}
          <li style="display: flex; justify-content: center; align-items: center;" class="card-text text-white">
            <a href="{% url 'profile_view' i.from_user.profile.slug %}"><img src="/media/{{ i.from_user.profile.avatar }}" class="rounded-circle z-depth-0" height="40" width="40" alt=""> {{ i }}</a>
            <a style="margin-left: 1ch;" class="btn btn-outline-success btn-sm" href="{% url 'AFR' i.id %}">{% trans 'принять' %}</a>
            <a onclick="return proverka()" style="margin-left: 1ch;" class="btn btn-outline-danger btn-sm" href="{% url 'DFR' i.id %}">{% trans 'отклонить' %}</a>
          </li>
        {% endfor %}
      </div>
      {% endif %}
    {% endif %}
    <div style="position: relative;" class="text-center col-md rounded">
      <img src="/media/{{ avatar_p }}" class="rounded-circle depth-0" alt="avatar image" height="256" width="256">
      <div style="position: absolute; left: 5%; top: 5%; text-align: left;" class="text-light card-text">
        <p style="color: {% if user_p.profile.rang < 0 %} crimson; {% elif user_p.profile.rang > 0 %} chartreuse; {% endif %}" >Rep Point: {{ user_p.profile.rang }}</p>
      </div>
      <div style="position: absolute; left: 5%; top: 14%; text-align: left;" class="text-light card-text">
        <p>id: {{ id_p }}</p>
      </div>
      <h1 class="card-text text-white">{{ user_p }}</h1>
      <p class="text-white">{{ about_me_p|safe }}</p>
      {% if user_p == user %}
      <div style="position: absolute; right: 3%; top: 3%; text-align: left;" class="col text-light card-text">
        <div class="row">
          <a href="{% url 'files' %}" class="btn btn-warning btn-sm" role="button">{% trans 'Мои файлы' %}</a>
        </div>
        <div class="row mt-2">
          <a href="{% url 'purchases' %}" class="btn btn-info btn-sm" role="button">{% trans 'Мои покупки' %}</a>
        </div>
        <div class="row mt-2">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal">Chat(BETA)</button>
        </div>
      </div>
      <a href="{% url 'profile_edit' %}" class="btn btn-success btn-sm" role="button">{% trans 'Изменить' %}</a><td></td>
      {% endif %}
      {% if user_p != user and bool_fr != True %}
        <p class="text-white">{{ bool_fr }}</p>
        <a class="btn btn-success btn-sm" href="{% url 'SFR' id_p %}">{% trans 'Добавить в друзья' %}</a>
      {% endif %}
   </div>
   {% if user_p == user %}
    {% if friends %}
    <div style="padding: 0%;" class="col-md-3 border border-success rounded">
    <h5 class="text-light border border-success border-right-0 border-left-0 border-top-0 rounded">{% trans 'Друзья' %}</h5>
    <ul style="font-size: 100%; list-style-type:none; padding: 0%;">
      {% for frnd in friends %}
      <li style="display: flex; justify-content: center; align-items: center;" class="card-text text-white">
        <a href="{% url 'profile_view' frnd.profile.slug %}">
          <img src="/media/{{ frnd.profile.avatar }}" class="rounded-circle z-depth-0" height="40" width="40" alt="">
          &nbsp;{{ frnd }}&nbsp;&nbsp;&nbsp;</a>
          <a style="position: relative;" target="_blank" href="{% url 'chat_ls' frnd.profile.id %}" onclick="window.open('{% url 'chat_ls' frnd.profile.id %}', 'newwindow', 'width=700,height=500'); return false;" class="btn btn-outline-success btn-sm">{{ id_p|get_room_id:frnd.profile.id|get_uncheck_messages:frnd.profile.user }}{% trans 'чат' %}</a>
          <a onclick="return proverka()" style="margin-left: 1ch;" class="btn btn-outline-danger btn-sm" href="{% url 'DF' frnd.profile.id %}">{% trans 'перестать дружить' %}</a>
      </li>
      {% endfor %}
    </ul>
    </div>
    {% endif %}
   {% endif %}
  </div>
</div>

<div class="col-2 mt-4">

</div>
<script>
  function proverka() {
  //Do you want this for sure?
if (confirm("{% trans 'Ты точно этого хочешь?' %}")) {
    return true;
    } else {
        return false;
    }
}
</script>

<style>
  ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.circle {
  width: auto;
  height: auto;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #000
}

</style>

{% if user_p == user %}

<!-- Modal -->
<div class="modal fade" id="modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content" style="background-color: #302e3dc9;">
      <div class="modal-header" style="border: 0ch;">
        <h5 class="modal-title text-light" id="exampleModalLabel">Chat</h5>
        <button type="button" class="close border border-success rounded btn btn-sm btn-secondary" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-3 border border-success rounded">
            {% if friends %}
              {% for frnd in friends %}
              <div class="row">
                <a onclick="Chat_ls('{{ id_p|get_chat_messages:frnd.profile.id }}');" style="margin-left: 1%; text-align: left;" href="#"><img src="/media/{{ frnd.profile.avatar }}" class="rounded-circle z-depth-0" height="40" width="40" alt="">&nbsp;{{ frnd }}</a>
              </div>
              {% endfor %}
            {% endif %}
        </div>
        <div style="overflow-y:scroll;height:auto;" id="chat-messages" class="col-9 text-light border border-success rounded">

        </div>
      </div>
      <div class="modal-footer" style="border: 0ch;">
        <textarea style="background-color: #302e3dc9; border-color: rgba(126, 136, 136, 0.651);" class="form-control pl-2 my-0 text-light" id="chat-message-input" rows="1" placeholder="{% trans 'Пишите ваше сообщение здесь...' %}"></textarea>
        <button type="button" id="chat-message-submit" class="btn btn-dark btn-sm btn-block text-light">{% trans 'Отправить' %}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{{ user.username|json_script:"json-username" }}
{{ user.profile.slug|json_script:"json-slug" }}
{% endblock %}