{% extends  'main/base.html' %}
{% load static i18n %}

{% block title %}
{% trans 'Покупки' %}
{% endblock %}

{% block content_in_root_body %}
<div class="container">
  <div class="row card card-body rounded" style="background-color: #302e3dc9;">
    <span class="text-light">
      {% if object_list.paginator.num_pages > 1 %}
      {% if object_list.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{ object_list.previous_page_number }}">Previous</a>
      {% endif %}
      Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
      {% if object_list.has_next %}
        <a href="?page={{ object_list.next_page_number }}">next</a>
        <a href="?page={{ object_list.paginator.num_pages }}">Last &raquo</a>
      {% endif %}
    {% endif %}
    </span>
    <table class="table table-striped text-light">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">{% trans 'Продукт' %}</th>
          <th scope="col">{% trans 'Тип' %}</th>
          <th scope="col">{% trans 'Дата приобретения' %}</th>
          <th scope="col">{% trans 'Окончание подписки' %}</th>
          <th scope="col">{% trans 'Цена' %}</th>
          <th scope="col">{% trans 'Статус' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for i in object_list %}
          <tr class="text-light">
            <td>{{ i.id }}</td>
            <td>{{ i.purchase }}</td>
            {% if i.subscription == True %}
              <td>{% trans 'Подписка' %}</td>
            {% endif %}
            {% if i.subscription == False %}
              <td>{% trans 'Покупка' %}</td>
            {% endif %}
              <td>{{ i.created_on }}</td>
            {% if i.subscription == True %}
              <td>{{ i.death_date }}</td>
              <td>{{ i.price }} $</td>
            {% endif %}
            {% if i.subscription == False %}
              <td>{% trans 'Вечно' %}</td>
              <td>{{ i.price }} $</td>
              <td><span style="font-size: 2ch" class="badge bg-success">{% trans 'Действительна' %}</span></td>
            {% elif i.death_date|date > date_now|date %}
              <td><span style="font-size: 2ch" class="badge bg-success">{% trans 'Действительна' %}</span></td>
            {% else %}
            <td><span style="font-size: 2ch" class="badge bg-danger">{% trans 'Истекла' %}</span></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content_in_root_body %}