{% extends 'main/base.html' %}
{% load static i18n %}
{% block title %}
{% trans 'Написать' %}
{% endblock %}
To write an article
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <h1 class="mt-4 text-center text-light">{% trans 'Написать статью' %}</h1>
              {{ form.media }}
              {{ form.title }}
              {{ form.slug }}
              {{ form.content }}
              {{ form.image_articles }}
          </div>
          <div class="row">
            <div class="col">
              {{ form.author }}
              {{ form.status }}
              {{ form.news }}
            </div>
          </div>
            <button type="submit" class="btn btn-primary mt-4">{% trans 'Опубликовать' %}</button>
            <span>{{ error }}</span>
        </div>
    </form>
{% endblock %}