{% extends 'main/base.html' %} 
{% load static %}
{% load static i18n %}

{% block head_css %}
<link rel="stylesheet" href="{% static '/css/like.css' %}" type="text/css">
{% endblock %}

{% block content_in_root_body %}
<style>
  a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
  } 
 </style>
<div class="container text-light">
  <div class="row justify-content-center">
    <div class="col-10 card mb-4 mt-3 left top" style="background-color: #302e3dc9;">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <a class="text-muted card-text" href="{% url 'profile_view' object.author.profile.slug %}">{{ object.author }} | {{ object.created_on }}</a>
        <p class="card-text ">{{ object.content | safe }}</p>

        {% if user.is_authenticated %}
        <div class="row">
          <div class="col-9">

          </div>
          <div class="col">
            <!--Like-->
            <form action="{% url 'like_post' object.author.id %}" method="POST">
              {% csrf_token %}
              <label>
                <input type="submit" name="blogpost_id_like" value="{{ object.id }}">
                <svg viewbox=0,0,500,500 width="50px" height="50px">
                 <circle class="circle" cx="250" cy="250" r="210" fill="#fff" stroke="#000" stroke-width="8"/>
                 <text x="250" y="250">🔥</text>
               </svg>
               {{ object.likes.count }}
               </label>
            </form>
          </div>
          <div class="col">
            <!--Dislike-->
            <form action="{% url 'like_post' object.author.id %}" method="POST">
            {% csrf_token %}
              <label>
                <input type="submit" name="blogpost_id_dislike" value="{{ object.id }}">
                <svg viewbox=0,0,500,500 width="50px" height="50px">
                  <circle class="circle" cx="250" cy="250" r="210" fill="#fff" stroke="#000" stroke-width="8"/>
                  <text x="250" y="250">👺</text>
                </svg>
                {{ object.dislikes.count }}
              </label>
            </form>
          </div>
        </div>
          <hr>
        {% endif %}

        <p>{% trans 'Комментарии' %} ({{ object.comm.all.count }})</p>
        {% for item in object.comm.all %}
        <div class="card mb-2" style="background-color: #2e2f3dc9; border-color: rgba(126, 136, 136, 0.651);">
          <div class="row card-body" id="comments-list">
            <div class="col-1">
              <a href="{% url 'profile_view' item.author.profile.slug %}"><img src="/media/{{ item.author.profile.avatar }}" class="rounded-circle z-depth-0" alt="avatar image" height="60" width="60"></a>
            </div>
            <div class="col-10">
              {# Через поле 'author' можно попасть в 'User', а дальше в 'profile'   В ШОКЕ !!!! #}
              <a class="text-muted" href="{% url 'profile_view' item.author.profile.slug %}">{{ item.author }} | {{ item.created_on }}</a>
              <p>{{ item.content }}</p>
            </div>
            {% if user.is_authenticated %}
            <div class="col-1">
                <table>
                  <tr>
                      <td>
                        <!--Like-->
                        <form action="{% url 'like_post' item.author.id %}" method="POST">
                            {% csrf_token %}      
                          <label> 
                            <input type="submit" name="comment_id_like" value="{{ item.id }}">                 
                            <svg viewbox=0,0,500,500 width="40px" height="40px">
                              <circle class="circle" cx="250" cy="250" r="210" fill="#fff" stroke="#000" stroke-width="8"/>
                              <text x="250" y="250">🔥</text>
                            </svg>
                          </label>
                        </form>
                      </td>
                      <!--👍 👎 💔 💗 💙 💚 💛 💜 💤 💥 💩 -->
                      <td>{{ item.likes.count }}</td>
                    </tr>
                  <tr>
                    <td>
                      <!--Dislike-->
                      <form action="{% url 'like_post' item.author.id %}" method="POST">
                        {% csrf_token %}      
                        <label>             
                        <input type="submit" name="comment_id_dislike" value="{{ item.id }}">                  
                          <svg viewbox=0,0,500,500 width="40px" height="40px">
                            <circle class="circle" cx="250" cy="250" r="210" fill="#fff" stroke="#000" stroke-width="8"/>
                            <text x="250" y="250">👺</text>
                          </svg>
                        </label>
                      </form>
                    </td>
                      <td>{{ item.dislikes.count }}</td>
                  </tr>
              </table>
            </div>
            {% endif %}
              

            </div>
            </div>
          {% endfor %}
          {% if user.is_authenticated %}
          <p>{% trans 'Комментарий:' %}</p>
          <form id="add_form" action="" method="POST">
            {{ form.content }}
            {% csrf_token %}
            <button form="add_form" id="send-comment" type="submit" class="btn btn-primary btn-lg btn-sm btn-block">{% trans 'Оставить' %}</button>
          </form>
          {% endif %}
      </div>
    </div>
    {% block sidebar %} {# {% include 'blog/sidebar.html' %} #} {% endblock sidebar %}


  </div>
</div>

{% block js %}
<script>
</script>
{% endblock js %}

{% endblock content_in_root_body %}