{% extends "main/base.html" %}
{% load static i18n %}

{% block title %}
{% trans 'Продукты' %}
{% endblock title %}

{% block content %}
<div class="mt-4 col-md-12">
  <div class="card-title text-light" style="background-color: #302e3dc9;">
    {% if venues.paginator.num_pages > 1 %}
    <p class="text-center">
      {% if venues.has_previous %}
        <a href="?page=1">&laquo {% trans 'Первая' %}</a>
        <a href="?page={{ venues.previous_page_number }}">{% trans 'Предыдущая' %}</a>
      {% endif %}
      Page {{ venues.number }} of {{ venues.paginator.num_pages }}
      {% if venues.has_next %}
        <a href="?page={{ venues.next_page_number }}">{% trans 'Следующая' %}</a>
        <a href="?page={{ venues.paginator.num_pages }}">{% trans 'Последняя' %} &raquo</a>
      {% endif %}
    </p>
    {% endif %}
  </div>

 <style>
  a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: rgb(38, 180, 38);
  } 
  a:hover {
    color: rgb(48, 206, 193);
  }
 </style>
<div class="row justify-content-center">
    {% for product in venues %}
    <div class="col-xl-3 w-auto p-3 h-auto d-inline-block">
        <div class="card text-light" style="width: 18rem; background-color: #302e3dc9;">
            {% if product.image %}
                <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body text-center">
              <h5 class="card-title">{{ product.title }}</h5>
              {% if product.price > 0 %}
              <p class="card-text">Price: {{ product.price }} $</p>
              {% endif %}
              <p class="card-text">{{ product.description_text_only|striptags|slice:":200" }}</p>
              <a href="{% url 'product_detail' product.slug %}" class="btn btn-primary btn-sm btn-block">{% trans 'Подробнее' %}</a>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}