{% extends 'main/base.html' %} 
{% load static %}
{% load static i18n %}

{% block head_css %}
<link rel="stylesheet" href="{% static '/css/like.css' %}" type="text/css">
{% endblock %}

{% block content_in_root_body %}
<style>
  a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
  }
  .table-hover tbody tr:hover td {
    background: #8736c99f;
    color: rgb(255, 255, 255);
  }
  .btn-circle {
    width: 100px;
    height: 100px;
    border-radius: 190px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}
 </style>
<div class="container text-light">
  <div class="row justify-content-center">
    <div class="col-10 card mb-4 mt-3 left top" style="background-color: #302e3dc9;">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <a class="text-muted card-text" href="{% url 'profile_view' object.author.profile.slug %}">{{ object.author }} | {{ object.created_on }}</a>
        <p class="card-text ">{{ object.description_text_only | safe }}</p>

        {% if user.is_authenticated %}
        <div class="row">
          <div class="col-9">

          </div>
          <div class="col">
            <!--Like-->
            <form action="{% url 'like_post' object.author.id %}" method="POST">
              {% csrf_token %}
              <label>
                <input type="submit" name="prod_id_like" value="{{ object.id }}">
                <svg viewbox=0,0,500,500 width="50px" height="50px">
                 <circle class="circle" cx="250" cy="250" r="210" fill="#fff" stroke="#000" stroke-width="8"/>
                 <text x="250" y="250">🔥</text>
               </svg>
               {{ object.likes.count }}
               </label>
            </form>
          </div>
          <div class="col">
            <!--Dislike-->
            <form action="{% url 'like_post' object.author.id %}" method="POST">
            {% csrf_token %}
              <label>
                <input type="submit" name="prod_id_dislike" value="{{ object.id }}">
                <svg viewbox=0,0,500,500 width="50px" height="50px">
                  <circle class="circle" cx="250" cy="250" r="210" fill="#fff" stroke="#000" stroke-width="8"/>
                  <text x="250" y="250">👺</text>
                </svg>
                {{ object.dislikes.count }}
              </label>
            </form>
          </div>
        </div>
          <br>
        {% endif %}

          {% if object.pwall.last %}
            <div class="row">
              {% if venues.paginator.num_pages > 1 %}
              <p class="text-center">
                {% if venues.has_previous %}
                  <a href="?page=1">&laquo {% trans 'Первая' %}</a>
                  <a href="?page={{ venues.previous_page_number }}">{% trans 'Предыдущая' %}</a>
                {% endif %}
                Page {{ venues.number }} of {{ venues.paginator.num_pages }}
                {% if venues.has_next %}
                  <a href="?page={{ venues.next_page_number }}">{% trans 'Следующая' %}</a>
                  <a href="?page={{ venues.paginator.num_pages }}">{% trans 'Последняя' %} &raquo</a>
                {% endif %}
              </p>
            {% endif %}

              <table style="background-color: #2e2f3dc9; border-color: rgba(126, 136, 136, 0.651);" class="table table-hover text-light rounded">
                <thead>
                  <tr>
                    <!--<th scope="col">{% trans 'Версия' %}</th>-->
                    <th scope="col">{% trans 'Период оптимизации' %}</th>
                    <th scope="col">{% trans 'Время создания' %}</th>
                    <!--<th scope="col">Описание</th>-->
                    <th scope="col">{% trans 'Количество сделок' %}</th>
                    <th scope="col">{% trans 'Тип оптимизации' %}</th>
                    <th scope="col">{% trans 'Качество оптимизации' %}</th>
                    {% if proof or object.mode == 'auto_gen_free' %}
                      <th scope="col">{% trans 'Скачать URL' %}</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for item in venues %}
                    <tr>
                      <!--<td>{{ item.version }}</td>-->
                      <td>Начало: {{ item.start_date }} || Конец: {{ item.stop_date }}</td>
                      <td>{{ item.created_on }}</td>
                    <!--<td>{{ item.description|safe }}</td>-->
                      <td>{{ item.amount_deals }}</td>
                      <td>{{ item.type_optimization }}</td>
                      <td>{{ item.quality_optimization }}</td>
                      {% if proof or object.mode == 'auto_gen_free' %}
                        <td class="h6"><a href="{{ item.robot_file.url }}">ROBOT</a></td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

              {% if proof != True and object.mode != 'auto_gen_free' %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#modal">$  $  $  {% trans 'Оформить подписку (криптовалюта)' %}  $  $  $</button>
              {% endif %}
              </div>
        {% endif %}
        <br>
        <p style="position: relative;">
          {% trans 'Комментарии' %} ({{ object.comm.all.count }}) 
          <span style="position:absolute; left: 80%">
            {% if venues_c.paginator.num_pages > 1 %}
            {% if venues_c.has_previous %}
              <a href="?page_c=1">&laquo First</a>
              <a href="?page_c={{ venues_c.previous_page_number }}">Previous</a>
            {% endif %}
            Page {{ venues_c.number }} of {{ venues_c.paginator.num_pages }}
            {% if venues_c.has_next %}
              <a href="?page_c={{ venues_c.next_page_number }}">next</a>
              <a href="?page_c={{ venues_c.paginator.num_pages }}">Last &raquo</a>
            {% endif %}
          {% endif %}
          </span>
        </p>
        {% for item in venues_c %}
        <div class="card mb-2" style="background-color: #2e2f3dc9; border-color: rgba(126, 136, 136, 0.651);">
          <div class="row card-body" id="comments-list">
            <div class="col-1">
              <a href="{% url 'profile_view' item.author.profile.slug %}"><img src="/media/{{ item.author.profile.avatar }}" class="rounded-circle z-depth-0" alt="avatar image" height="60" width="60"></a>
            </div>
            <div class="col-10">
              {# Через поле 'author' можно попасть в 'User', а дальше в 'profile'   В ШОКЕ !!!! #}
              <a class="text-muted" href="{% url 'profile_view' item.author.profile.slug %}">{{ item.author }} | {{ item.created_on }}</a>
              <p>{{ item.content }}</p>
            </div>

            {% if user.is_authenticated %}
            <div class="col-1">
                <table>
                  <tr>
                      <td>
                        <!--Like-->
                        <form action="{% url 'like_post' item.author.id %}" method="POST">
                            {% csrf_token %}      
                          <label> 
                            <input type="submit" name="comment_id_like" value="{{ item.id }}">                 
                            <svg viewbox=0,0,500,500 width="40px" height="40px">
                              <circle class="circle" cx="250" cy="250" r="210" fill="#fff" stroke="#000" stroke-width="8"/>
                              <text x="250" y="250">🔥</text>
                            </svg>
                          </label>
                        </form>
                      </td>
                      <!--👍 👎 💔 💗 💙 💚 💛 💜 💤 💥 💩 -->
                      <td>{{ item.likes.count }}</td>
                    </tr>
                  <tr>
                    <td>
                      <!--Dislike-->
                      <form action="{% url 'like_post' item.author.id %}" method="POST">
                        {% csrf_token %}      
                        <label>             
                        <input type="submit" name="comment_id_dislike" value="{{ item.id }}">                  
                          <svg viewbox=0,0,500,500 width="40px" height="40px">
                            <circle class="circle" cx="250" cy="250" r="210" fill="#fff" stroke="#000" stroke-width="8"/>
                            <text x="250" y="250">👺</text>
                          </svg>
                        </label>
                      </form>
                    </td>
                      <td>{{ item.dislikes.count }}</td>
                  </tr>
              </table>
            </div>
            {% endif %}
              

            </div>
            </div>
          {% endfor %}

          {% if user.is_authenticated %}
          <p>{% trans 'Комментарий:' %}</p>
          <form id="add_form" action="" method="POST">
            {{ form.content }}
            {% csrf_token %}
            <button form="add_form" id="send-comment" type="submit" class="btn btn-primary btn-lg btn-sm btn-block">{% trans 'Оставить' %}</button>
          </form>
          {% endif %}

      </div>
    </div>
    {% block sidebar %} {# {% include 'blog/sidebar.html' %} #} {% endblock sidebar %}


  </div>
</div>

{% block js %}
<script>
</script>
{% endblock js %}

<!-- Modal -->
<div class="modal fade" id="modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #302e3dc9;">
      <div class="modal-header" style="border: 0ch;">
        <h5 class="modal-title text-light" id="exampleModalLabel">{% trans 'Выбор тарифа' %}</h5>
        <button type="button" class="close border border-success rounded btn btn-sm btn-secondary" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body row">
          <div style="padding: 0%;" class="col rounded text-center">
            <button onclick="get_price({{ price_month }},1)" type="submit" form="form_pay" class="btn btn-success btn-sm btn-circle">{% trans 'Месяц' %}<br>{{ price_month }}$</button>
          </div>
          <div style="padding: 0%;" class="col rounded text-center">
            <button onclick="get_price({{ price_3_months }},3)" type="submit" form="form_pay" class="btn btn-success btn-sm btn-circle">{% trans '3 Месяца' %}<br>{{ price_3_months }}$</button>
          </div>
          <div style="padding: 0%;" class="col rounded text-center">
            <button onclick="get_price({{ price_year }},12)" type="submit" form="form_pay" class="btn btn-success btn-sm btn-circle">{% trans 'Год' %}<br>{{ price_year }}$</button>
          </div>
          <div style="padding: 0%;" class="col rounded text-center">
            <button onclick="get_price({{ price_forever }},13)" type="submit" form="form_pay" class="btn btn-success btn-sm btn-circle">{% trans 'Навсегда' %}<br>{{ price_forever }}$</button>
          </div>
          {% if not user.is_authenticated %}
          <p class="text-center text-light mt-3">{% trans 'Чтобы продолжить, авторизуйтесь' %}</p>
          <a class="btn btn-secondary btn-sm btn-block" href="{% url 'login' %}">{% trans 'Вход' %}</a>
          <a class="btn btn-secondary btn-sm btn-block" href="{% url 'registr' %}">{% trans 'Регистрация' %}</a>
        {% endif %}
        </div>
    </div>
  </div>
</div>
{% if user.is_authenticated %}
<form id="form_pay" method="GET" action="https://api.cryptonator.com/api/merchant/v1/startpayment">
  <input type="hidden" name="merchant_id" value="80846d11428ca6581d9fe90389b8bfa0">
  <input type="hidden" name="item_name" value="{{ object.description_text_only | safe }}">
  <input type="hidden" name="invoice_currency" value="usd">
  <input id="input_invoice_amount" type="hidden" name="invoice_amount" value="" data-type="number">
  <input id="input_order_id" type="hidden" name="order_id" value="">
  <input type="hidden" name="language" value="ru">
</form>
{% endif %}

<script>
  function get_price(price,mounth) {
    document.getElementById('input_order_id').value = '{{ object.id }}---{{ user.id }}---'+mounth+'---'+price;
    document.getElementById('input_invoice_amount').value = price;
  }
</script>

{% endblock content_in_root_body %}