{% extends  'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% block title %}{% trans 'Вход' %}{% endblock %}
{% block main %}

{% load socialaccount %}

<div class="card">
<div class="card-body">
<h4 class="card-title">{% trans 'Вход на сайт' %}</h4>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{{ form|crispy }}

<button type="submit" class="btn btn-primary btn-block">{% trans 'Авторизоваться' %}</button>
<p><a href="{% url 'password_reset' %}">{% trans 'Забыл пароль?' %}</a></p>
</form>
</div>
</div>
{% endblock %}

{% block sosial %}
<div class="card mt-2">
    <div class="card-body">
        <h4 class="card-title">{% trans 'Войти с помощью соцсети' %}</h4>
        <a class="btn btn-primary btn-lg btn-block" href="{% provider_login_url 'google' %}">Google</a>
        <a class="btn btn-primary btn-lg btn-block" href="{% provider_login_url 'discord' %}">Discord</a>
    </div>
</div>
{% endblock %}