{% extends  'accounts/base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Регистрация' %}{% endblock %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block main %}
<div class="card">
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      <!---->
      <h4 class="card-title">{% trans 'Регистрация аккаунта' %}</h4>
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary btn-block">{% trans 'Зарегистрироваться' %}</button>
    </form>
  </div>
</div>
{% endblock %}



{% block sosial %}
<div class="card mt-2">
  <div class="card-body">
      <h4 class="card-title">{% trans 'Войти с помощью соцсети' %}</h4>
      <a class="btn btn-primary btn-lg btn-block" href="{% provider_login_url 'google' %}">Google</a>
      <a class="btn btn-primary btn-lg btn-block" href="{% provider_login_url 'discord' %}">Discord</a>
  </div>
</div>
{% endblock %}
