<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static '/css/btn_top.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/dropdown-menu.css' %}">

    <link type="image/x-icon" rel="shortcut icon" href="/media/favicon/favicon.ico">
    <link type="image/x-icon" sizes="32x32" rel="icon" href="/media/favicon/favicon-32x32.ico">
    <link type="image/x-icon" sizes="96x96" rel="icon" href="/media/favicon/favicon-96x96.ico">
    <link type="image/x-icon" sizes="128x128" rel="icon" href="/media/favicon/favicon-128x128.ico">

    {% block head_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% load static i18n %}
    {% load bg_tag %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  {% get_bg as bg %}
  {% if bg %}
  <style>
    body {
    background-image: url("/media/{{ bg|random }}");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  </style>
  {% endif %}

   <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
   <script type="text/javascript" src="{% static '/js/btn_top.js' %}"></script>
   <!-- <script type="text/javascript" src="{% static '/js/bg_animate.js' %}"></script> -->
      <!--NavBAR_UP-->
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(0, 0, 0, 0.527);">
        <div class="container-fluid">
          {% if user.is_authenticated %}
            {% if user.profile.avatar %}
              <a href="{% url 'profile_view' user.profile.slug %}"><img src="/media/{{ user.profile.avatar }}" class="rounded-circle z-depth-0" alt="avatar image" height="50" width="50"></a>
              <a class="navbar-brand ml-3 h5" href="{% url 'profile_view' user.profile.slug %}">{% trans 'Добро пожаловать' %}, {{ user.username }}.</a>
            {% else %}
              {% if user.username %}
                <a href="{% url 'profile_view' user.profile.slug %}"><img src="/media/Centropolis.jpg" class="rounded-circle z-depth-0" alt="avatar image" height="50" width="50"></a>
                <a class="navbar-brand ml-3 h5" href="{% url 'profile_view' user.profile.slug %}">{% trans 'Добро пожаловать' %}, {{ user.username }}.</a>
              {% else %}
                <a href="#"><img src="/media/Centropolis.jpg" class="rounded-circle z-depth-0" alt="avatar image" height="50" width="50"></a>
                <a class="navbar-brand ml-3 h5" href="#">{% trans 'Добро пожаловать' %}, {{ user.username }}.</a>
              {% endif %}
            {% endif %}
          {% else %}
            <a href="{% url 'home' %}"><img src="/media/Centropolis.jpg" class="rounded-circle z-depth-0" alt="avatar image" height="50" width="50"></a>
            <a class="navbar-brand ml-3 h5" href="{% url 'home' %}">Centropolis</a>
          {% endif %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                {% url "home" as url_home %}
                <a class="nav-link {% if url_home == request.path %} active {% endif %} h6" aria-current="page" href="{% url 'home' %}">{% trans 'Главная' %}</a>
              </li>
              <li class="nav-item">
                {% url "about" as url_about %}
                <a class="nav-link {% if url_about == request.path %} active {% endif %} h6" href="{% url 'about' %}">{% trans 'О нас' %}</a>
              </li>
              <li class="nav-item">
                {% url "blog_articls" 1 as url_blog_articls %}
                <a class="nav-link {% if url_blog_articls == request.path %} active {% endif %} h6" href="{% url 'blog_articls' %}">{% trans 'Статьи' %}</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle h6" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  {% trans 'Форум' %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="nav-item">
                    <li><a href="{% url 'forum_main' %}" class="dropdown-item text-light">{% trans 'Форум' %}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="{% url 'topic_create' %}" class="dropdown-item text-light">{% trans 'Начать топик' %}</a></li>
                    <li><a href="{% url 'topic_edit_page' %}" class="dropdown-item text-light">{% trans 'Редактор' %}</a></li>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                {% url "blog_products" as url_blog_products %}
                <a class="nav-link dropdown-toggle h6 {% if url_blog_products == request.path %} active {% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  {% trans 'Продукты' %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item text-light" href="{% url 'blog_products' 'auto_gen' %}">{% trans 'Автогенерация' %}</a></li>
                  <li><a class="dropdown-item text-light" href="{% url 'blog_products' 'auto_gen_free' %}">{% trans 'Бесплатные' %}</a></li>
                  <li><a class="dropdown-item text-light" href="{% url 'blog_products' 'original_strategies' %}">{% trans 'Оригинальные стратегии' %}</a></li>
                </ul>
              </li>

              {% if user.is_superuser or user.is_staff %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle h6" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    {% trans 'Администрирование' %}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item text-light" href="{% url 'blog_edit_page' %}">{% trans 'Редактор' %}</a></li>
                    <li><a class="dropdown-item text-light" href="{% url 'admin:index' %}">{% trans 'Админка' %}</a></li>
                    <li><a class="dropdown-item text-light" href="" target="_blank">REST API</a></li>
                  </ul>
                </li>
              {% endif %}
              {% block navbar %}{% endblock %}
            </ul>
              <ul class="navbar-nav my-sm-0">
                {% if user.username %}
                <a class="nav-link h6" href="{% url 'logout' %}">{% trans 'Выход' %}</a>
                {% else %}
                <a class="nav-link h6" href="{% url 'registr' %}">{% trans 'Регистрация' %}</a>
                <a class="nav-link h6" href="{% url 'login' %}">{% trans 'Войти' %}</a>
                {% endif %}
              </ul>
          </div>
        </div>
      </nav>
      <button class="to-up" id="myBtn" title="Go to top">Top</button>
      <div class="container-fluid">
        {% block js %}{% endblock js %}
        <div class="row content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    </div>
    <!--<footer>
      <div class="text-center p-2 mt-2">
        <h6 class="text-white mt-2">Centropolis &copy; 2021 💙</h6>
      </div>
    </footer>-->

{% if user.is_authenticated %}
  {% block chat %}
    {% include 'accounts/chat.html' %}
  {% endblock chat %}
{% endif %}


    {% block content_in_root_body %}{% endblock %}
   
</body>
</html>