{% extends 'main/base.html' %}
{% load static i18n %}

{% block title %}
{% trans 'Главная' %}
{% endblock title %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static '/css/scroll.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/css/textarea.css' %}" type="text/css">

{% endblock head_css %}

{% block content %}

<style>
table, th, td {
    border-collapse: collapse;
    table-layout: fixed;
    width:100%
}
td{
  border-top: none;
  border-bottom: none;
}

td {
    word-wrap:break-word;
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
  } 

   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
  .prokrutka {
  width: 100%;
  height: 300px;
  overflow:scroll;
  overflow-x:hidden;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

</style>


<div class="container-fluid">
  <div class="row">
    
    <div class="col-xl-3">
      <div class="card" style="background-color: #302e3dc9;">
        <div id="scroll" class="prokrutka anyClass card-body">
          <table id="chat-messages" class="table table-sm">
            {% for m in messages %}
              <tr>
                  <td style="padding: 0%;">
                    <a href="{% url 'profile_view' m.username.profile.slug %}"><img src="/media/{{ m.username.profile.avatar }}" class="rounded-circle z-depth-0" alt="avatar image" height="30" width="30"></a>&emsp;
                    <a style="font-size:14px" class="text-muted" href="{% url 'profile_view' m.username.profile.slug %}">{{ m.username }} | {{ m.date_added }}</a>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                    <div class="text-light" style="font-size:14px">
                      &emsp;{{ m.content|safe }}
                    </div>
                  </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        {% if user.is_authenticated %}
            <textarea class="mt-2 mb-2 text-center" rows="1" id="chat-message-input" placeholder="{% trans 'Пишите ваше сообщение здесь...' %}"></textarea>
            <!--<span onclick="getEmj('😀');">😀</span>
            <span onclick="getEmj('😈');">😈</span>-->
          <button onclick="down000('lel')" type="button" id="chat-message-submit" class="btn btn-dark btn-sm btn-block text-light">{% trans 'Отправить' %}</button>

        {% endif %}
      </div>
    </div>

    <div class="col-xl-7 card text-light" style="background-color: #302e3dc9;">
      <div id="para1" class="card-body">
        {# id="para1" нужно для js#}
        {{ post.0.content | safe}}
      </div>
    </div>
    <div class="col-xl-2">
      <div class="card card-body" style="background-color: #0000005e;">
          {% for el in post %}
            <!--<label class="btn btn-warning btn-sm btn-block"><input onclick="getData('{{ el.data }}');" type="radio" name="options" id="option2" autocomplete="off">{{ el.title }}</label>-->
            <a href="#" class="btn btn-secondary btn-sm btn-block" onclick="getData('{{ el.content }}');">
              <marquee scrollamount="5" scrolldelay="10">
                {{ el.title }}
              </marquee>
            </a>
          {% endfor %}
          {% if user.is_superuser or user.is_staff %}
            <hr>
            <a href="{% url 'blog_edit_page' %}" class="btn btn-success btn-sm btn-block">{% trans 'Редактор' %}</a>
          {% endif %}
      </div>
    </div>
  </div>


{{ room_name|json_script:"json-roomname" }}
{{ user.username|json_script:"json-username" }}
{# user.profile.avatar|json_script:"json-avatar" #}
{{ user.profile.slug|json_script:"json-slug" }}

<script>
var block = document.getElementById("scroll");
block.scrollTop = block.scrollHeight;
</script>

<script type="text/javascript" src="{% static '/js/chat.js' %}"></script>
<script type="text/javascript" src="{% static '/js/textarea.js' %}"></script>
<script type="text/javascript" src="{% static '/js/getData.js' %}"></script>
<script type="text/javascript" src="{% static '/js/scroll.js' %}"></script>

<!--<div style="width: 200px; height: 200px; position: fixed; top: 100px; left: 1px; border: 1px solid black; background:red;"></div>-->

{% endblock %}