textarea {
    resize: none;
}

textarea {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: none;
    font-family: 'Inter';
    line-height: 22px;
    padding: 0px 0px;
    border-radius: 5px;
    color: #f8f8f8;
    border: none;
    background: #302e3dc9;
    font-size: 3ch;
    transition: box-shadow .25s;
    box-shadow: inset 0 0 0 1px var(--border-color, #4f3253c9), 0 0 0 3px var(--focus-color, transparent);
}